<div class="row">
<div class="col-sm-6">
    <select class="form-control"
    ng-options="c for c in data.characters"
    ng-model="selectedCharacter"
    ng-change="matchups()">
    </select>

    <div class="character" ng-class="{
    'fox'   : selectedCharacter == 'Fox',
    'falco' : selectedCharacter == 'Falco',
    'sheik' : selectedCharacter == 'Sheik',
    'marth' : selectedCharacter == 'Marth'}"></div>
    <div class="info">{{data.characterTips}}</div>

</div>

<div class="col-sm-6">
    <select class="form-control"
    ng-options="c for c in data.characters"
    ng-model="selectedOpponent"
    ng-change="matchups()">
    </select>
    <div class="character" ng-class="{
    'fox'   : selectedOpponent == 'Fox',
    'falco' : selectedOpponent == 'Falco',
    'sheik' : selectedOpponent == 'Sheik',        
    'marth' : selectedOpponent == 'Marth'}"></div>
    <div class="info">{{data.opponentTips}}</div>
</div>

<div class="col-sm-12">

</div>
</div>