<div class="row">
<div class="col-sm-6">
    <select class="form-control"
    ng-options="c in data.characters"
    ng-model="character"
    ng-change="characterUpdate()">
    </select>

    <div class="character fox"></div>
    <div class="info">{{data.characterTips}}</div>

</div>

<div class="col-sm-6">
    <select class="form-control"
    ng-options="c in data.characters"
    ng-model="character"
    ng-change="opponentUpdate()">
    </select>
    <div class="character fox"></div>
    <div class="info">{{data.opponentTips}}</div>
</div>

<div class="col-sm-12">

</div>
</div>