<select class="form-control">
<option class="Fox" value="Fox">Fox</option>
<option class="Falco" value="Falco">Falco</option>
<option class="Sheik" value="Sheik">Sheik</option>
<option class="Marth" value="Marth">Marth</option>
<option class="Jigglypuff" value="Jigglypuff">Jigglypuff</option>
<option class="Peach" value="Peach">Peach</option>
<option class="C_Falcon" value="C. Falcon">C. Falcon</option>
<option class="Ice_Climbers" value="Ice Climbers">Ice Climbers</option>
</select>

<select class="form-control">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>